.git
.github
bin
obj
**/bin
**/obj
assets
examples
npm
sdk
plugins
/README.md
/README_*.md
/CONTRIBUTING.md
/CONTRIBUTING.zh.md
/SECURITY.md
/NOTICE
/THIRD-PARTY-NOTICES.txt
*.slnx
build
build.sh
dev-install.sh
install.sh
install.ps1
